<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net48" />
  <package id="lzfse-net" version="1.0.15" targetFramework="net48" />
  <package id="lzo.net" version="0.0.3" targetFramework="net48" />
  <package id="Quamotion.DiscUtils" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.BootConfig" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Btrfs" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Core" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Dmg" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Ext" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Fat" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.HfsPlus" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Iscsi" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Iso9660" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Lvm" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Net" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Nfs" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Ntfs" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.OpticalDiscSharing" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.OpticalDisk" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Registry" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Sdi" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.SquashFs" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Streams" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Swap" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Udf" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Vdi" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Vhd" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Vhdx" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Vmdk" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Wim" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Xfs" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Xva" version="0.15.4" targetFramework="net48" />
</packages>